@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Skill Share Connect</h1>
    <p>Connecting volunteers with opportunities to grow and give back.</p>
</div>
