@model SkillsShareConnect.Models.ViewModels.VolunteerOpportunityRequest
@{
}

<div class="bg-opacity-10 py-2">

    <div class="container">

        <h1 class="text-center">Add Volunteer Opportunity</h1>

    </div>

</div>
<div class="py-2">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="Status">Status</label>
            <input type="text" class="form-control" id="status" asp-for="Status" placeholder="Enter the status">
        </div>

        <div class="mb-3">
            <label class="form-label" for="Opportunity">Opportunity</label>
            <input type="text" class="form-control" id="opportunity" asp-for="Opportunity" placeholder="Enter opportunity details">
        </div>

        <div class="mb-3">
            <label class="form-label" for="Volunteer">Volunteer</label>
            <input type="text" class="form-control" id="volunteer" asp-for="Volunteer" placeholder="Enter volunteer details">
        </div>

        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>