@model SkillsShareConnect.Models.ViewModels.OrganizationRequest

@{
    ViewBag.Title = "Add Organization";
}

<div class="bg-opacity-10 py-2 ">
    <div class="container">
        <h1 class="text-center">Add Your Organization</h1>
    </div>
</div>

<div class="py-2">
    <form method="post">

        <div class="mb-3">
            <label class="form-label" for="OrganizationName">Organization Name</label>
            <input type="text" class="form-control" id="organizationName" asp-for="OrganizationName" placeholder="Enter organization name" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="OrganizationEmail">Organization Email</label>
            <input type="email" class="form-control" id="organizationEmail" asp-for="OrganizationEmail" placeholder="Enter organization email" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="OrganizationType">Organization Type</label>
            <select class="form-control" id="organizationType" asp-for="OrganizationType" required>
                <option value="" disabled selected>Select organization type</option>
                <option value="Non-profit">Non-profit</option>
                <option value="For-profit">For-profit</option>
                <option value="Government">Government</option>
                <option value="Educational">Educational</option>
                <option value="Private">Private</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="OrganizationTypeDescription">Organization Type Description</label>
            <textarea class="form-control" id="organizationTypeDescription" asp-for="OrganizationTypeDescription" placeholder="Describe organization type" rows="4" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" for="OrganizationDescription">Organization Description</label>
            <textarea class="form-control" id="organizationDescription" asp-for="OrganizationDescription" placeholder="Describe the organization" rows="4" required></textarea>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>




