@model SkillsShareConnect.Models.ViewModels.SkillRequest
@{
}

<div class="bg-opacity-10 py-2">
    <div class="container mb-3">
        <h1 class="text-center">Submit a Skill</h1>
    </div>
</div>

<div class="py-2">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="Name">Skill Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Enter the skill name" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="ShortDescription">Short Description</label>
            <textarea class="form-control" id="shortDescription" asp-for="ShortDescription" placeholder="Enter a short description"></textarea>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
